<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Position:</b>
  <%= @player.position %>
</p>

<p>
  <strong>Team:</strong>
	<% if @player.pick.present? %>
		<%= link_to @player.pick.team.name, @player.pick.team %>
	<% else %>
		N/A
	<% end %>
  
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
