<h1>Recent Picks</h1>
<table class='table table-striped'>
  <tr>
    <td><strong>Round</strong></td>
    <td><strong>Team</strong></td>
    <td><strong>Player</strong></td>
    <td><strong>Date Picked</strong></td>
  </tr>

<% @picks.each do |pick| %>
  <tr>
    <td><%= link_to pick.round.number, pick.round %></td>
    <td><%= link_to pick.team.name, team_permalink_path(pick.team.permalink) %></td>
    <td><%= link_to pick.player.name, player_permalink_path(pick.player.permalink) %></td>
	<td><%= pick.created_at.strftime('%b %d, %Y') %></td>
  </tr>
<% end %>
</table>
<% if @round.present? %>
	<h2>Next Pick</h2>
	<%= link_to @round.team.name, team_permalink_path(@round.team.permalink) %> - Pick #<%= @round.pick %>
<% end %>

<br />


