<p id="notice"><%= notice %></p>

<p>
  <b>Round:</b>
  <%= @pick.round %>
</p>

<p>
  <b>Team:</b>
  <%= @pick.team %>
</p>

<p>
  <b>Player:</b>
  <%= @pick.player %>
</p>


<%= link_to 'Edit', edit_pick_path(@pick) %> |
<%= link_to 'Back', picks_path %>
